
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.contenedorimagen{
    background-color: rgba(0, 0, 0, 0.637);
    background-size:contain;
    text-align: center;
}
main{
    background-image: url(../img/helicopteros2.jpeg); 
    background-size: 700px;
    background-attachment: fixed;
    background-position: top;
   
}

h1, .tituloSeccion{
    color:white;
    background-color:rgba(41, 125, 66, 0.769);
    text-transform: uppercase;
}

h1{    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
}

.tituloSeccion{
    font-size: 20px;
    letter-spacing: 3px;
}
.vinculoNegrita{
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}
span{font-weight: bold;
}
p {
    text-indent: 30px;
    line-height: 10px;
}
.textoIndentado{
    text-indent: 110px;
}
footer{
    background-color: #0531056b;
    text-align: center;
    color:white;
    font-size: 20px;
    
}
